<!-- Donate -->
<div class="modal fade" id="funddrive-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">KiCad 2020 Fund Drive</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    {{ partial "funddrive.html" . }}
            </div>
        </div>
    </div>
</div>